@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins";
}

body {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  font-size: 62.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bank_form {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.3))), url("./images/Bank.jpg") no-repeat center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("./images/Bank.jpg") no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bank_form form {
  width: 40%;
  margin: 0 auto;
  background-clip: padding-box;
  border: 2px solid #2f3542;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 10px 10px 10px 3px rgba(45, 45, 68, 0.32);
          box-shadow: 10px 10px 10px 3px rgba(45, 45, 68, 0.32);
  padding: 2rem 1rem;
}

.bank_form form h1 {
  color: #ecf0f1;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

.bank_form form #error_div {
  color: #EA2027;
  font-size: .9rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

.bank_form form .input_div {
  margin-top: 1.5rem;
  position: relative;
}

.bank_form form .input_div input, .bank_form form .input_div select {
  outline: none;
  border: none;
  width: 100%;
  font-size: 1rem;
  padding: .2rem;
  background: transparent;
  border-bottom: 1px solid #2f3542;
  color: #ecf0f1;
}

.bank_form form .input_div input::-webkit-outer-spin-button,
.bank_form form .input_div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bank_form form .input_div input[type=number] {
  -moz-appearance: textfield;
}

.bank_form form .input_div label {
  font-size: 1rem;
  display: block;
  font-weight: 500;
  cursor: pointer;
  color: #ecf0f1;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

.bank_form form .input_div input:focus ~ label,
.bank_form form .input_div input:valid ~ label,
.bank_form form .input_div select:focus ~ label,
.bank_form form .input_div select:valid ~ label {
  -webkit-transform: translateY(-23px);
          transform: translateY(-23px);
  color: goldenrod;
  font-size: .9rem;
}

.bank_form form .input_div .underline {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.bank_form form .input_div .underline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 0%;
  background: goldenrod;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.bank_form form .input_div input:focus ~ .underline::before,
.bank_form form .input_div input:valid ~ .underline::before,
.bank_form form .input_div select:focus ~ .underline::before {
  width: 100%;
}

.bank_form form .input_div select {
  cursor: pointer;
}

.bank_form form .input_div select option {
  background: #2f3542;
}

.bank_form form #submit_btn {
  outline: none;
  border: none;
  margin-top: 1rem;
  padding: .3rem .6rem;
  cursor: pointer;
  background-color: #ffa801;
  font-weight: 600;
  -webkit-transition: .3s;
  transition: .3s;
}

.bank_form form #submit_btn:hover {
  background: #ffc048;
}

@media screen and (max-width: 800px) {
  .bank_form form {
    width: 50%;
  }
}

@media screen and (max-width: 580px) {
  .bank_form form {
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  .bank_form form {
    width: 75%;
  }
}

@media screen and (max-width: 360px) {
  .bank_form form {
    width: 90%;
  }
}

.atm {
  display: none;
}

.atm.show {
  width: 100%;
  min-height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.2))), url("./images/Bank2.jpg") no-repeat center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("./images/Bank2.jpg") no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.atm.blur {
  pointer-events: none;
}

.atm_card {
  width: 40%;
  height: auto;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.atm_card .face {
  width: 100%;
  height: 100%;
  padding: .5rem 1rem;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.7);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
}

.atm_card .face .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.atm_card .face .chip {
  width: 15%;
  height: 5vh;
  margin-top: .5rem;
  margin-bottom: .5rem;
  border-radius: 6px;
  border: 2px solid black;
  background: url("./images/chip.png") no-repeat center;
  background-size: cover;
}

.atm_card .face .card_no {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  word-spacing: 6px;
  margin-bottom: .5rem;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.atm_card .face .validity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.atm_card .face .validity h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  margin-right: 1rem;
}

.atm_card .face .validity h2 .thru {
  padding-left: .4rem;
  font-size: .7rem;
}

.atm_card .face .name {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.atm_card .face.front::before {
  content: "Card";
  position: absolute;
  bottom: 10px;
  right: 30px;
  width: 50px;
  height: 50px;
  background: #ffd32a;
  border-radius: 50%;
  opacity: .6;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  font-weight: 700;
}

.atm_card .face.front::after {
  content: "Master";
  position: absolute;
  bottom: 10px;
  right: 70px;
  width: 50px;
  height: 50px;
  background: #00d8d6;
  border-radius: 50%;
  opacity: .6;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  font-weight: 700;
}

.atm .operations {
  margin: 0rem auto;
  margin-top: 3rem;
  height: auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.atm .operations .btn {
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 1.5rem;
  padding: .5rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  background: #ffd32a;
  border: 2px solid #ffd32a;
  -webkit-transition: .2s;
  transition: .2s;
  color: black;
}

.atm .operations .btn:hover {
  color: #ffd32a;
  background: transparent;
  font-weight: 500;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

@media screen and (max-width: 890px) {
  .atm_card {
    width: 45%;
    height: 35vh;
  }
}

@media screen and (max-width: 760px) {
  .atm_card {
    width: 55%;
    height: 35vh;
  }
}

@media screen and (max-width: 625px) {
  .atm_card {
    width: 65%;
    height: 35vh;
  }
}

@media screen and (max-width: 535px) {
  .atm_card {
    width: 75%;
    height: 35vh;
  }
}

@media screen and (max-width: 460px) {
  .atm_card {
    width: 90%;
    height: 37vh;
  }
  .atm_card {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 370px) {
  .atm_card {
    width: 100%;
    height: 40vh;
  }
  .atm_card {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 330px) {
  .atm_card {
    width: 100%;
    height: 45vh;
  }
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 4px;
  background: linear-gradient(220deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
  -webkit-transform: scale(0);
          transform: scale(0);
}

.modal form {
  padding: 3rem 2rem;
  width: 50%;
  position: relative;
  border: 2px solid #ffbf48be;
  -webkit-box-shadow: 0 0 10px 3px #ffbf48a6;
          box-shadow: 0 0 10px 3px #ffbf48a6;
}

.modal form .hide_btn {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 2rem;
  color: #fff;
  text-align: right;
  display: inline;
  cursor: pointer;
}

.modal form .ip_div {
  margin-top: 1rem;
  width: 100%;
}

.modal form .ip_div label {
  display: block;
  color: #fff;
  font-size: .9rem;
  cursor: pointer;
}

.modal form .ip_div input {
  padding: .2rem;
  width: 100%;
  outline: none;
}

.modal form .ip_div input::-webkit-outer-spin-button,
.modal form .ip_div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal form .ip_div input[type=number] {
  -moz-appearance: textfield;
}

.modal form .ip_div button {
  padding: .3rem .6rem;
  margin-top: .5rem;
  outline: none;
  border: 1px solid #fcbb43ef;
  background: #fcbb43ef;
  color: black;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 700;
}

.modal form .ip_div button:hover {
  background: goldenrod;
}

.modal.show {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: scale(1);
          transform: scale(1);
  pointer-events: all !important;
}

@media screen and (max-width: 600px) {
  .modal form {
    width: 75%;
  }
}

@media screen and (max-width: 380px) {
  .modal {
    height: 113vh;
  }
}

@media screen and (max-width: 350px) {
  .modal form {
    width: 90%;
  }
  .modal {
    height: 125vh;
  }
}

.msg_box {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 250px;
  height: auto;
}

.msg_box .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #bdc3c7;
  padding: 0 .5rem;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.452);
          box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.452);
}

.msg_box .header h1 {
  font-size: 1rem;
}

.msg_box .header .close_btn {
  font-size: 3rem;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.msg_box .messages {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  visibility: hidden;
  pointer-events: none;
}

.msg_box .messages.show {
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  border-top: 2px solid black;
  width: 100%;
  padding: .3rem .5rem;
  background: #f1c40f;
  font-size: 1rem;
  visibility: visible;
  pointer-events: all;
}

.mini_s {
  width: 50%;
  position: absolute;
  top: 15%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  border: 2px solid #333;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.562);
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.562);
  padding: .5rem 1rem;
  display: none;
}

.mini_s .close_btn {
  font-size: 3rem;
  font-weight: 600;
  cursor: pointer;
  text-align: right;
}

.mini_s .bank_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  border: 1px solid black;
}

.mini_s .banking_details {
  margin-top: 1rem;
}

.mini_s .banking_details .inner_div {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #777;
}

.mini_s .footer {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 525px) {
  .mini_s {
    width: 75%;
    left: 10%;
  }
}

@media screen and (max-width: 385px) {
  .mini_s {
    width: 95%;
    left: 2%;
  }
}
/*# sourceMappingURL=main.css.map */